/* 
    General formatting
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 
    Background color
*/

body {
    background-color: #d9dcd6;
}

/* 
    Header formatting and style
*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* 
    h1 display style
*/

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* 
    Right-side header style
*/

header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* 
    Right-side header list style
*/

header section ul {
    list-style-type: none;
}


header section ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}


/* 
    Style of the three head sections listed to the right of the h1
*/

#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* 
    Style of the main picture below the header
*/

.MainPicture {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* 
    style of the content within the main section
*/

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* 
    Style of the images in the main content
*/

#search-engine-optimization img {
    max-height: 200px;
}

#online-reputation-management img {
    max-height: 200px;
}

#social-media-marketing img {
    max-height: 200px;
}

/* 
    Style of the main content section headers
*/

#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* 
    Style of images in the first and third sections of the main content
*/

.float-left {
    float: left;
    margin-right: 25px;
}

/* 
    Style of image in the second section of the main content
*/

.float-right {
    float: right;
    margin-left: 25px;
}

/* 
    Style of paragraph text
*/

p {
    font-size: 16px;
}

/* 
    Style of the aside section on the right side
*/

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* 
    Style of the benefits section
*/

.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* 
    Style of the footer
*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
